@import url('https://fonts.googleapis.com/css2?family=Ysabeau:wght@200;400&display=swap');

*{
    font-family: 'Ysabeau', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 20px auto;
    padding: 20 2%;
 }
 
 html,body{
     height:100%;
     overflow-y: hidden;
     overflow-x: hidden;
     background-image: linear-gradient( #e86100, #800080);
 
 }
 

 header{
     height: 200px;
     padding: 20px 0;
 }
 
 .header{
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background: transparent;
     display: absolute;
     padding: 40px 10%;
 }
 

 img{
    width: 5%;
    position: absolute;
    left: 30px;
    bottom: 590px;

}

.menu{
    width: 50%;
    text-align: right;
    position: absolute;
    right: 30px;    
}

.menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    
}

.texto-sobre{
    margin-top: 40px;
}

.texto-sobre h1{
    font-size: 45px;
}

.texto-sobre h1, h2{
    color: white;
    position: relative;
    left: 70px;
}
